{{ define "main" }}

<main>
	{{ partial "index/introduction.html" . }}

	<div class="catalogue">
		{{ $pages := where .Site.RegularPages "Params.hidden" "ne" true }}
		{{ $paginate := .Paginate (where $pages "Type" "posts") }}
		{{ range $paginate.Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</div>

	<div class="pagination">
		{{ if $paginate.HasPrev }}
			<a href="{{ $paginate.Prev.URL }}" class="left arrow">&#8592;</a>
		{{ end }}
		{{ if $paginate.HasNext }}
			<a href="{{ $paginate.Next.URL }}" class="right arrow">&#8594;</a>
		{{ end }}

		<span>{{ $paginate.PageNumber }}</span>
	</div>
</main>

{{ end }}
